<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="de.dynomedia.motipet">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MotiPet"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".StepcounterActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".JournalActivity"
            android:theme="@style/Theme.MotiPet.Journal">
        </activity>

        <activity android:name=".SettingsActivity"
            android:theme="@style/Theme.MotiPet.NewPage">
        </activity>

        <activity android:name=".ManualActivity"
            android:theme="@style/Theme.MotiPet.NewPage">
        </activity>

        <activity android:name=".EvaluationActivity"
            android:theme="@style/Theme.MotiPet.NewPage">
        </activity>

        <activity android:name=".MyOVActivity"
            android:theme="@style/Theme.MotiPet.NewPage">
        </activity>

        <activity android:name=".OnboardingActivity">
        </activity>

        <activity android:name=".OnboardingFragment1">
        </activity>

        <activity android:name=".OnboardingFragment2">
        </activity>

        <activity android:name=".OnboardingFragment3">
        </activity>

        <activity android:name=".OnboardingFragment4">
        </activity>

        <activity android:name=".OnboardingFragment5">
        </activity>

        <activity android:name=".EggsActivity">
        </activity>

    </application>

</manifest>